
.hero{
  width: 100%;
 background-color: var(--aboutBgColor);
//  h1{
//   color: var(--textColor)
//  }
}


.pageName{
  text-align: center;
  margin-bottom: 80px;
  background-color: var(--aboutBgColor);
  padding: 50px;
  
};

.infoAboutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutPageImage{
  height: 400px;
  // margin-right: 40px;
  
};

@media only screen and (max-width: 1100px) {
  .aboutPageImage{
    width: 100%;
  };

}

.h1_commerce{
  font-weight: bold;
  font-size: large;
  margin-bottom: 100px;
};

.aboutWebsite{
  margin-bottom: 20px;
};

.contactBtn{
  background-color: orange;
  padding: 10px 30px;
  border-radius: 5px;
}
