body{
  margin: 0;
  box-sizing: border-box;
}

.hero{
  width: 100%;
  // height: 100vh;
  background-color: var(--aboutBgColor);
 h1{
  color: var(--textColor)
 }
}


.samsungContentPhoto{

width: 200px;
height: 200px;

};

.box{
width: 100%;
height: 100%;

};

.paragraph{
  text-align: center;
  color: black;
  font-size: 20px;

};

.backImage{
  
  background-color: var(--aboutBgColor);
 padding-bottom: 50px;
}

.couponSection{
  height: 30vh;
  padding-top: 50px;
  background-color: var(--aboutBgColor);
}

.couponBtn{
  background-color: orange;
  padding: 16px;
}

.input{
  padding: 15px;
};


.infoYellowBox{
  background-color: orange;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow-y: hidden;
};

.advertIcons{
  width: 40px;
  height: 40px;
  margin-right: 10px
};

.iconAndName{
  display: flex;
  align-items: center;
  
}


